name: Build and Deploy mdBook

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pages: write 

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install mdBook
        run: |
          LATEST=$(curl -s https://api.github.com/repos/rust-lang/mdBook/releases/latest | jq -r '.tag_name')
          curl -sSL https://github.com/rust-lang/mdBook/releases/download/$LATEST/mdbook-$LATEST-x86_64-unknown-linux-gnu.tar.gz | tar -xz -C /usr/local/bin

      - name: Build the book
        run: mdbook build docs

      - name: Create gh-pages branch and push generated site
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git checkout --orphan gh-pages
          git rm -rf .
          cp -r docs/book/* .
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git add .
          git commit -m "Add generated mdBook HTML"
          git push origin gh-pages --force
